@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">This application is an introduction to MVC and can be used to rate restuarants. Adam Sadler developed this application using a tutorial during a Software Development bootcamp at Eleven Fifty Academy.</p>
    <p><a href="https://adambsadler.github.io/Portfolio/" target="_blank" class="btn btn-primary btn-lg">Learn more about Adam &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Olive Garden</h2>
        <p>
            At Olive Garden, we know that life is better together and everyone is happiest when they’re
            with family. From never ending servings of our freshly baked breadsticks and iconic garden
            salad, to our homemade soups and sauces, there’s something for everyone to enjoy.
        </p>
        <p><a class="btn btn-default" href="https://www.olivegarden.com/home" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Chipotle</h2>
        <p>
            Chipotle was born of the radical belief that there is a connection between how food is raised
            and prepared, and how it tastes. Real is better. Better for You, Better for People, Better for Our Planet.
            It may be the hard way to do things, but it’s the right way.
        </p>
        <p><a class="btn btn-default" href="https://www.chipotle.com/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Panera Bread</h2>
        <p>
            We are Panera Bread and we believe that good food, food you can feel good about, can bring out the best in all of us.
            Food served in a warm, welcoming environment, by people who care. To us, that’s good eating and that’s why we’re here.
        </p>
        <p><a class="btn btn-default" href="https://www.panerabread.com/en-us/home.html" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>